#square{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 20px;
    float: left;
    shape-outside: circle();
    clip-path: circle();
}
#wrapper{
    width: 350px;
    height: 400px;
}